/*====== GLOBAL STYLES ====== */

html {
    font-size: 125%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    padding: 10px 10px;
}

hr {
    width: 6px;
    height: 3px;
    color: lightgreen;
    background-color: limegreen;
}