/*==== HEADER STYLES =====*/
.contactPic {
    background-image:url(../assets/contact-1.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}   


/*===== FORM STYLES =====*/
.contactContainer {
    display: flex;
    input {
            margin-bottom: 25px;
        }
        .wrapper {
            margin-right: 0;
        }
    .form {
        width: 60%;
        margin-top: 60px;
        .wrapper {
            padding-left: 280px;
        }
    .input {
        width: 45%;
        margin-right: 10px;
        padding: 15px;
        border: none;
        background-color: $white;
    }
    .input2 {
        width: 92%;
        padding: 15px;
        border: none;
        background-color: $white;
    }
    .input3 {
        resize: none;
        padding-top: 20px;
        padding-left: 5px;
        border: none;
        background-color: $white;
        width: 92%;
    }
    }
}


.messageArrow {
    display: flex;
    i {
        padding-top: 20px;
        padding-left: 10px;
        color: green;
    }
}

/*===== SIDE SECTION WITH CONTACT INFO ====== */
.info {
    width: 40%;
    background-color: $white;
    p {
        color: $grey;
    }
    .infoP {
        width: 400px;
    }
        .infoText {
            margin-top: 85px;
            padding-bottom: 50px;
        }
}
.dates {
    text-transform: uppercase;
    color: black;
    font-family: $raleText;
}
.backgroundFruit {
    background-image: url(../assets/contact-2.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}

