.topFooter{
    background-color: $black;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: calc(100% / 3);
            p {
                color: white;
                padding-bottom: 20px;
            }
    }
    .fBox1 {
        width: 25%;
    }
    .fBox2 {
        width: 25%;
        padding-top: 18px;
    }
    .fBox3 {
        width: 25%;
        padding-top: 18px;
        p {
            border-bottom: none;
        }
        div {
            border-bottom: 1px solid;
            padding-bottom: 20px;
            color: $brown;
            
        }
    }
    .arrow {
        background-color: #66b032;
        padding: 12px 11px;
        color: white;
    }
}

.socials {
    padding-top: 20px;
    display: flex;
    li {
        padding-right: 20px;
        padding-top: 10px;
    }
    color: white;
}


.bottomFooter {
    background-color: $primary;
    margin: 0;
    padding-left: 50px;
    p {
        margin: 0;
        color: white;
    }
}