/* styles for top info section of footer */

.topFooter{
    padding-top: 80px;
    background-color: $black;
    padding-bottom: 90px;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-basis: calc(100% / 3);
            p {
                color: white;
                padding-bottom: 20px;
            }
    }
    .fBox1 {
        width: 25%;
        padding-right: 63px;
        p {
            color: $grey;
            padding-bottom: 10px;
            
        }
    }
    .fBox2 {
        width: 22%;
        padding-top: 18px;
        p {
            color: $grey;
            padding-bottom: 10px;
        }
    }
    .fBox3 {
        width: 33%;
        padding-top: 18px;
        padding-left: 20px;
        p {
            border-bottom: none;
            color: $grey;
        }
        div {
            border-bottom: 1px solid $grey;
            padding-bottom: 20px;
            color: $white;
            display: flex;
            input {
                background-color: $grey;
                width: 300px;
                border: none;
            }
        }
    }
    .arrow {
        background-color: #66b032;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        color: $white;
        
    }
}

.socials {
    padding-top: 10px;
    display: flex;
    li {
        padding-right: 20px;
        padding-top: 10px;
    }
    color: white;
}


.bottomFooter {
    background-color: $primary;
    margin: 0;
    padding-left: 50px;
    p {
        margin: 0;
        color: white;
    }
    .polar {
        color: #66b032;
        text-transform: uppercase;
    }
}