/* main here you will find content for all of the homepage styles */
.popular{
    display: flex;
    .saladText, .saladImg {
        flex-basis: 50%;
        width: 50%;
    }
    .saladText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    p {
        padding-top: 20px;
    }
}


.menuContainer {
    display: flex;
    .tacoImg, .menuText{
        flex-basis: 50%;
        width: 50%;
    }
    .menuText{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        color: $primary;
        background-color: $grey;
        letter-spacing: 0.1px;
        li:nth-child(odd) {
            padding-right: 20px;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        h3 {
            margin: 0;
        }
    }
}


.fancy {
    padding-top: 150px;
    .parentBox {
        position: relative;
        width: 50%;
        margin: 0 auto;
        .box2 {
            position: absolute;
            width: 150px;
            top: -85px;
            right: -56px;
            }
            }
        }


.rest {
    text-align: center;
    padding-bottom: 150px;
    p{
        padding: 10px  200px;
    }
}

.gallery {
    ul {
        display: flex;
        width: 100%;
    }
}


.clients {
    padding: 50px 0 100px 0;
    background-color: #FFFF99;
    h2 {
        text-align: center;
    }
    .clientsText{
        width: 59%;
        text-align: center;
        margin: 0 auto;
        color: $grey;
        position: relative;
        .left {
            position: absolute;
            font-size: 80px;
            left: -90px;
            top: 10px;
            color: white;
            font-family: $loraText;
        }
        }
        p {
            padding-top: 40px;
            .right {
                    position: absolute;
                    font-size: 80px;
                    right: -96px;
                    top: 78px;
                    color: white;
                }
        }
            .angles {
                padding-top: 60px;
                text-align: center;
                font-size: 25px;
                color: white;
                span {
                    opacity: .5;
                }
            }
        }
