@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Raleway:wght@700&display=swap');


h1 {
    font-family: $raleText;
    font-size: 46px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 0;
} 

h2 {
    text-transform: uppercase;
    font-family: $raleText;
}

h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: $raleText;
}

h4 {
    text-transform: uppercase;
    font-family: $raleText;
    
}

h5 {
    text-transform: uppercase;
    color: $white;
    font-size: $raleText;
}


a {
    color: black;
}

li {
    font-family: $raleText;
}


p {
    font-family: $loraText;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: $primary;
}


.topFooter {
    p {
        font-family: $loraText;
        font-size: 13px;
        border-bottom: 1px solid $grey;
        
    }
    h4 {
        font-family: $raleText;
        font-weight: bold;
        color: #66b032; 
        font-size: 35px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


/*======= CONTACT PAGE STYLE ========= */
.send {
    color: green;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $raleText;
}








/* ===== BLOG PAGE ======== */

.blogTitles {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.5px;
}