@charset "UTF-8";
/* text fonts */
/* color styles */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 46px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.1px;
}

h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

h4 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

h5 {
  text-transform: uppercase;
  color: #F6F6F6;
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

li {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.topFooter p {
  font-family: "Lora", serif;
  font-size: 13px;
  border-bottom: 1px solid #999999;
}
.topFooter h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #66b032;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*======= CONTACT PAGE STYLE ========= */
.send {
  color: green;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

/* ===== BLOG PAGE ======== */
.blogTitles {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

/*====== GLOBAL STYLES ====== */
html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 10px 10px;
}

hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  color: yellowgreen;
  background-color: yellowgreen;
}

.widthFifty {
  width: 40%;
  padding-bottom: 20px;
}

button {
  padding: 15px;
  font-weight: bold;
  background-color: yellowgreen;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

input {
  padding: 10px;
  border-radius: 0;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  max-width: 100%;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
header ul li {
  padding-right: 5px;
}
header ul li a {
  font-size: 22px;
  font-weight: bold;
}
header a:hover {
  color: green;
  border: none;
}
header a:focus {
  color: green;
  border: none;
}
header .shopping {
  position: relative;
}
header .shopping .two {
  position: absolute;
  top: -4px;
  background-color: yellowgreen;
  border-radius: 50%;
  width: 18px;
  left: 19px;
  text-align: center;
  color: white;
}

/* main here you will find content for all of the homepage styles */
.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular .saladText,
.popular .saladImg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}
.popular .saladText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.popular p {
  padding-top: 20px;
  width: 74%;
  margin: 0 auto;
  padding-bottom: 30px;
}

/*==== SALAD SECTION AND TACO SECTION/ MENU ======*/
.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menuContainer .tacoImg,
.menuContainer .menuText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}
.menuContainer .menuText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2E2E2E;
  background-color: #F6F6F6;
  letter-spacing: 0.1px;
}
.menuContainer .menuText li:nth-child(odd) {
  padding-right: 20px;
}
.menuContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding-left: 30PX;
}
.menuContainer ul p {
  font-size: 14px;
  color: #999999;
}
.menuContainer ul h3 {
  margin: 0;
}

/* FONT AWESOME STYLES */
.icon {
  position: relative;
}

.lemon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f094";
  position: absolute;
  left: -40px;
  font-size: 30px;
}

.utensils:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2e7";
  position: absolute;
  left: -40px;
  font-size: 30px;
}

.coffeeCup:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0f4";
  position: absolute;
  left: -44px;
  font-size: 30px;
}

.martini:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f57b";
  position: absolute;
  left: -44px;
  font-size: 30px;
}

.leaf:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06c";
  position: absolute;
  left: -44px;
  font-size: 30px;
}

.spoon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2e5";
  position: absolute;
  left: -44px;
  font-size: 30px;
}

/*===== FANCY PIC =====*/
.fancy {
  padding-top: 150px;
}
.fancy .parentBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.fancy .parentBox .box2 {
  position: absolute;
  width: 150px;
  top: -85px;
  right: -56px;
}

/*====== RESTUARANT ======*/
.rest {
  text-align: center;
  padding-bottom: 150px;
}
.rest h2 {
  margin-top: 35px;
}
.rest p {
  width: 100%;
  margin: 0 auto;
  padding: 10px 217px;
  color: #999999;
}

/*===== SIX PICTURE GALLERY ====*/
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/*==== HUNGRY CLIENTS SECTION AND FONT AWESOME=====*/
.clients {
  padding: 50px 0 100px 0;
  background-color: #FFFF99;
}
.clients h2 {
  text-align: center;
}
.clients .clientsText {
  width: 49%;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
  font-family: "Lora", serif;
  position: relative;
  color: #2E2E2E;
}
.clients .clientsText .left {
  position: absolute;
  font-size: 70px;
  left: -90px;
  top: 10px;
  color: white;
  font-family: "Lora", serif;
}
.clients p {
  padding-top: 40px;
}
.clients p .right {
  position: absolute;
  font-size: 70px;
  right: -96px;
  top: 78px;
  color: white;
}
.clients .angles {
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.clients .angles span {
  opacity: 0.5;
}

/*==== HEADER STYLES =====*/
.contactPic {
  background-image: url(../assets/contact-1.jpeg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*===== FORM STYLES =====*/
.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactContainer input {
  margin-bottom: 25px;
}
.contactContainer .wrapper {
  margin-right: 0;
}
.contactContainer .form {
  width: 60%;
  margin-top: 60px;
}
.contactContainer .form .wrapper {
  padding-left: 280px;
}
.contactContainer .form .input {
  width: 45%;
  margin-right: 10px;
  padding: 15px;
  border: none;
  background-color: #F6F6F6;
}
.contactContainer .form .input2 {
  width: 92%;
  padding: 15px;
  border: none;
  background-color: #F6F6F6;
}
.contactContainer .form .input3 {
  resize: none;
  padding-top: 20px;
  padding-left: 5px;
  border: none;
  background-color: #F6F6F6;
  width: 92%;
}

.messageArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.messageArrow i {
  padding-top: 20px;
  padding-left: 10px;
  color: green;
}

/*===== SIDE SECTION WITH CONTACT INFO ====== */
.info {
  width: 40%;
  background-color: #F6F6F6;
}
.info p {
  color: #999999;
}
.info .infoP {
  width: 400px;
}
.info .infoText {
  margin-top: 85px;
  padding-bottom: 50px;
}

.dates {
  text-transform: uppercase;
  color: black;
  font-family: "Raleway", sans-serif;
}

.backgroundFruit {
  background-image: url(../assets/contact-2.jpeg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
}

/*===== HEADER =====*/
.blogPic {
  background-image: url(../assets/blog-1.jpeg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ======= FIRST SECTION  ======= */
.pineapple {
  padding-top: 100px;
}
.pineapple .wrapper {
  padding-top: 10px;
  padding-bottom: 20px;
}
.pineapple .wrapper h2 {
  margin-bottom: 0;
  font-weight: bold;
}
.pineapple .wrapper p {
  margin-top: 2px;
  padding-bottom: 10px;
  color: #999999;
}

/*====== FONT AWESOME STYLES =====*/
.tagSocials {
  border-top: 3px solid #F6F6F6;
  border-bottom: 3px solid #F6F6F6;
  padding-top: 30px;
}
.tagSocials span {
  color: #000;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.tagSocials a {
  font-size: 18px;
  color: #999999;
}

/*====== SALLY CONTAINER ======*/
.sallyContainer {
  margin-top: 50px;
  margin-bottom: 40px;
}
.sallyContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 3px solid #F6F6F6;
  padding-bottom: 50px;
}
.sallyContainer .wrapper .whiteShirt {
  width: 50%;
  padding-right: 50px;
}
.sallyContainer .wrapper .sallyText {
  background-color: #F6F6F6;
  padding-left: 50px;
  padding-top: 30px;
}
.sallyContainer .wrapper .sally {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.sallyContainer .wrapper p {
  color: #999999;
  line-height: 30px;
}

/* ==== RELATED POSTS STYLES ===== */
.relatedContainer {
  padding-bottom: 50px;
}
.relatedContainer .wrapper {
  border-bottom: 3px solid #F6F6F6;
}
.relatedContainer p:first-child {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.relatedContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}
.relatedContainer ul li {
  width: 32%;
}
.relatedContainer ul li h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
.relatedContainer ul li p {
  color: #999999;
  margin: 0;
}
.relatedContainer ul li p span {
  color: black;
}

/*===== COMMENT/TWO BLOGS SECTION ===== */
.blog6 .blog6Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.blog6 .blog6Container .blog6Img {
  padding-right: 20px;
}
.blog6 p {
  color: #2E2E2E;
}
.blog6 span {
  color: #2E2E2E;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.blog7Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog7Container span {
  color: #2E2E2E;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.blog7Container .blog7Img {
  padding-right: 30px;
}

.box {
  background-color: #F6F6F6;
  color: #fff;
  padding: 20px;
  position: relative;
  float: left;
}

.box.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid #F6F6F6;
  border-left: none;
  border-bottom: 15px solid transparent;
}

/*=== BLOG FORM STYLES =====*/
.blogForm {
  margin-top: 70px;
  padding-bottom: 120px;
}
.blogForm .marked {
  color: #999999;
}
.blogForm button {
  margin-top: 20px;
  background-color: #66b032;
  padding: 11px;
  font-size: 16px;
}

.infoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.infoForm input {
  width: calc(33.3333333333% - 5px);
  margin-right: 10px;
  border: 2px solid #F6F6F6;
  font-family: "Lora", serif;
  font-size: 16px;
}
.infoForm input:nth-of-type(3) {
  margin-right: 0;
}

.comment input {
  width: 100%;
  padding-bottom: 150px;
  border: 2px solid #F6F6F6;
}

/*==== FOOTER =====*/
.fBox3 .now {
  padding-bottom: 70px;
}

/* styles for top info section of footer */
.topFooter {
  padding-top: 80px;
  background-color: #333333;
  padding-bottom: 90px;
}
.topFooter .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.topFooter .wrapper p {
  padding-bottom: 25px;
  color: #999999;
}
.topFooter .fBox1 {
  width: 27%;
  padding-right: 63px;
}
.topFooter .fBox1 p {
  padding-bottom: 10px;
}
.topFooter .fBox1 p:nth-of-type(2) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.topFooter .fBox1 p:nth-of-type(3) {
  margin-top: 0;
  padding-top: 0;
}
.topFooter .fBox1 p:nth-of-type(5) {
  border-bottom: none;
}
.topFooter .fBox2 {
  width: 22%;
  padding-top: 18px;
}
.topFooter .fBox2 p {
  padding-bottom: 10px;
}
.topFooter .fBox2 p:nth-of-type(6) {
  border-bottom: none;
}
.topFooter .fBox3 {
  width: 24%;
  padding-top: 18px;
  padding-left: 20px;
}
.topFooter .fBox3 p {
  border-bottom: none;
}
.topFooter .fBox3 div {
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topFooter .fBox3 div input {
  background-color: #999999;
  width: 80%;
  border: none;
  color: #F6F6F6;
  font-size: 16px;
  font-family: "Lora", serif;
}
.topFooter .arrow {
  background-color: #66b032;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: #F6F6F6;
}

.socials {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials li {
  padding-right: 20px;
  padding-top: 10px;
}
.socials li a {
  color: white;
}

.bottomFooter {
  background-color: #2E2E2E;
  margin: 0;
  padding-left: 50px;
}
.bottomFooter p {
  margin: 0;
  color: #999999;
  padding-left: 20px;
}
.bottomFooter .polar {
  color: #66b032;
  text-transform: uppercase;
}

@media (max-width: 1044px) {
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header ul li {
    padding-bottom: 20px;
    padding-right: 100px;
  }
}
/*=== HOMEPAGE STYLES 940PX ======*/
@media (max-width: 940px) {
  header {
    min-height: 50vh;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header ul li {
    padding-bottom: 10px;
  }
}
@media (max-width: 940px) {
  .topFooter {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .fBox3 i {
    padding-top: 11px;
  }
  .fBox3 ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* ======== CONTACT PAGE QUERIES 940PX ========= */
@media (max-width: 940px) {
  .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .form {
    width: 100%;
  }
  .contactContainer .form .wrapper {
    padding-left: 0;
  }
  .contactContainer .info {
    width: 100%;
  }
  .contactContainer .info .infoP {
    width: 290px;
  }
}
/* ===== HOMEPAGE 900PX ====== */
@media (max-width: 900px) {
  header {
    min-height: 45vh;
  }
}
@media (max-width: 900px) {
  .popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
  .popular .saladText .wrapper {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .menuContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .menuContainer .tacoImg {
    margin: 0 auto;
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText .wrapper {
    width: 100%;
  }
}
/*===== homepage/index styles =======*/
@media (max-width: 768px) {
  header {
    min-height: 40vh;
    padding-top: 10px;
  }

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  ul li {
    padding-bottom: 10px;
  }

  a {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
  .popular .saladText button {
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .topFooter {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .fBox1 {
    width: 75%;
    margin: 0 auto;
  }
  .topFooter .fBox2 {
    width: 75%;
    margin: 0 auto;
    padding-right: 63px;
  }
  .topFooter .fBox3 {
    width: 75%;
    margin: 0 auto;
    padding-left: 0;
  }
  .topFooter .fBox3 i {
    padding-top: 11px;
  }
  .topFooter .fBox3 ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topFooter .fBox3 .flexArrow span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .bottomFooter {
    text-align: center;
  }
}
/* =========== CONTACT PAGE QUERIES  768px========= */
@media (max-width: 768px) {
  .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .form {
    width: 100%;
    margin-top: 0;
  }
  .contactContainer .form .wrapper {
    padding-left: 0;
    text-align: center;
  }
  .contactContainer .form .wrapper .input:first-of-type {
    margin-right: 0;
  }
  .contactContainer .info {
    width: 100%;
  }
  .contactContainer .info .infoText {
    margin-top: 10px;
  }
  .contactContainer .info .infoP {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .messageArrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*===== BLOG PAGE STYLES  =====*/
@media (max-width: 768px) {
  .relatedContainer ul li {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .infoForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoForm input {
    width: 90%;
    margin-bottom: 10px;
  }

  .comment input {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .fBox3 .now {
    padding-bottom: 10px;
  }
}
/* footer styles @700px */
@media (max-width: 700px) {
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .wrapper div {
    width: 100%;
  }
  .topFooter .wrapper div .fBox1,
.topFooter .wrapper div .fBox2,
.topFooter .wrapper div .fBox3 {
    width: 100%;
  }
}
/* HEADER STYLES */
@media (max-width: 480px) {
  .blogPic {
    min-height: 60vh;
  }
}
@media (max-width: 480px) {
  header {
    padding-top: 9px;
    background-size: cover;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header .wrapper ul li {
    padding-bottom: 10px;
  }
  header .wrapper a {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 25px;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .fancy {
    width: 100%;
    padding-top: 3px;
  }
  .fancy .parentBox {
    width: 100%;
    margin: 0;
  }
  .fancy .parentBox .box1 {
    width: 100%;
    margin: 0 auto;
  }
  .fancy .parentBox .box2 {
    width: 97px;
    top: 0px;
    right: 194px;
  }

  .box1 {
    width: 320px;
  }
}
@media (max-width: 480px) {
  .rest {
    padding-bottom: 25px;
  }
  .rest p {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .clients .clientsText {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .fBox1 {
    width: 100%;
  }
  .topFooter .fBox2 {
    width: 100%;
  }
  .topFooter .fBox3 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bottomFooter {
    padding: 0;
    text-align: center;
  }
}
/* =========== CONTACT PAGE QUERIES FOR 480PX ============== */
@media (max-width: 480px) {
  .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .form {
    width: 100%;
    margin-top: 0;
  }
  .contactContainer .form .wrapper {
    padding-left: 0;
  }
  .contactContainer .info {
    width: 100%;
  }
  .contactContainer .info .infoText {
    margin-top: 10px;
  }
  .contactContainer .info .infoP {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .backgroundFruit {
    min-height: 50vh;
  }
}
/* mobile 320 */
@media (max-width: 320px) {
  header {
    padding-top: 9px;
    background-size: cover;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header .wrapper ul li {
    padding-bottom: 20px;
  }
  header .wrapper a {
    padding-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 25px;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .fancy {
    width: 100%;
    padding-top: 3px;
  }
  .fancy .parentBox {
    width: 100%;
    margin: 0;
  }
  .fancy .parentBox .box1 {
    width: 100%;
    margin: 0 auto;
  }
  .fancy .parentBox .box2 {
    width: 97px;
    top: 0px;
    right: 112px;
  }

  .box1 {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .rest {
    padding-bottom: 25px;
  }
  .rest p {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .clients .clientsText {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .fBox1 {
    width: 100%;
  }
  .topFooter .fBox2 {
    width: 100%;
  }
  .topFooter .fBox3 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .bottomFooter {
    padding: 0;
    text-align: center;
  }
}
/* CONTACT PAGE QUERIES FOR 320PX */
@media (max-width: 320px) {
  .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .form {
    width: 100%;
  }
  .contactContainer .form .wrapper {
    padding-left: 0;
  }
  .contactContainer .info {
    width: 100%;
  }
  .contactContainer .info .infoP {
    width: 290px;
  }
}
@media (max-width: 320px) {
  .backgroundFruit {
    min-height: 32vh;
  }
}