@charset "UTF-8";
/* site fonts */
/* text styles */
/* color styles */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Raleway:wght@700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
}

h4 {
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
  color: #F6F6F6;
}

a {
  color: black;
}

li {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2E2E2E;
}

.topFooter p {
  font-family: "Lora", serif;
  font-size: 13px;
  color: #2E2E2E;
  border-bottom: 1px solid #999999;
}
.topFooter h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #66b032;
  font-size: 28px;
}

/*====== GLOBAL STYLES ====== */
html {
  font-size: 125%;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  padding: 10px 10px;
}

hr {
  width: 60px;
  height: 3px;
  margin: 0 auto;
  color: yellowgreen;
  background-color: yellowgreen;
}

.widthFifty {
  width: 40%;
}

button {
  padding: 10px;
  background-color: yellowgreen;
  color: white;
}

input {
  padding: 10px;
  border-radius: 0;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  max-width: 100%;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
header a:focus {
  color: green;
  border: none;
}

/* main here you will find content for all of the homepage styles */
.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popular .saladText, .popular .saladImg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}
.popular .saladText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.popular p {
  padding-top: 20px;
}

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #999999;
}
.menuContainer .tacoImg, .menuContainer .menuText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
}
.menuContainer .menuText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2E2E2E;
}
.menuContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fancy {
  padding-top: 150px;
}
.fancy .parentBox {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.fancy .parentBox .box2 {
  position: absolute;
  width: 150px;
  top: -85px;
  right: -56px;
}

.rest {
  text-align: center;
  padding-bottom: 150px;
}
.rest p {
  padding: 10px 200px;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.clients {
  padding: 50px 0 200px 0;
  background-color: #e8f48c;
}
.clients h2 {
  text-align: center;
}
.clients .clientsText {
  width: 59%;
  text-align: center;
  margin: 0 auto;
  color: #999999;
}
.clients p {
  padding-top: 40px;
}

header {
  background-image: url(../assets/contact-1.jpeg);
  min-height: 100vh;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactContainer .form {
  width: 60%;
}
.contactContainer .form .info {
  width: 40%;
}
.contactContainer .infoP {
  width: 400px;
}

.topFooter {
  background-color: #333333;
}
.topFooter .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.topFooter .wrapper p {
  color: white;
  padding-bottom: 20px;
}
.topFooter .fBox1 {
  width: 25%;
}
.topFooter .fBox2 {
  width: 25%;
  padding-top: 18px;
}
.topFooter .fBox3 {
  width: 25%;
  padding-top: 18px;
}
.topFooter .fBox3 p {
  border-bottom: none;
}
.topFooter .fBox3 div {
  border-bottom: 1px solid;
  padding-bottom: 20px;
  color: #999999;
}
.topFooter .arrow {
  background-color: #66b032;
  padding: 12px 11px;
  color: white;
}

.socials {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.socials li {
  padding-right: 20px;
  padding-top: 10px;
}

.bottomFooter {
  background-color: #2E2E2E;
  margin: 0;
  padding-left: 50px;
}
.bottomFooter p {
  margin: 0;
  color: white;
}

@media (max-width: 940px) {
  header {
    min-height: 56vh;
  }
}
@media (max-width: 940px) {
  .fBox3 i {
    padding-top: 11px;
  }
  .fBox3 ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header {
    padding-top: 10px;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .wrapper ul li {
    padding-bottom: 10px;
  }
  .wrapper a {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
  .popular .saladText button {
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .fBox3 i {
    padding-top: 11px;
  }
  .fBox3 ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 768px) {
  .bottomFooter {
    text-align: center;
  }
}
/* HEADER STYLES */
@media (max-width: 480px) {
  header {
    padding-top: 9px;
    background-size: cover;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header .wrapper ul li {
    padding-bottom: 10px;
  }
  header .wrapper a {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 25px;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .fancy {
    width: 100%;
    padding-top: 3px;
  }
  .fancy .parentBox {
    width: 100%;
    margin: 0;
  }
  .fancy .parentBox .box1 {
    width: 100%;
    margin: 0 auto;
  }
  .fancy .parentBox .box2 {
    width: 97px;
    top: 0px;
    right: 194px;
  }

  .box1 {
    width: 320px;
  }
}
@media (max-width: 480px) {
  .rest {
    padding-bottom: 25px;
  }
  .rest p {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 480px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .clients .clientsText {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .fBox1 {
    width: 100%;
  }
  .topFooter .fBox2 {
    width: 100%;
  }
  .topFooter .fBox3 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .bottomFooter {
    padding: 0;
    text-align: center;
  }
}
/* mobile 320 */
@media (max-width: 320px) {
  header {
    padding-top: 9px;
    background-size: cover;
  }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  header .wrapper ul li {
    padding-bottom: 20px;
  }
  header .wrapper a {
    padding-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .popular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 25px;
  }
  .popular .saladImg {
    width: 100%;
  }
  .popular .saladText {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .menuContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .tacoImg {
    width: 100%;
  }
  .menuContainer .menuText {
    width: 100%;
  }
  .menuContainer .menuText ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menuContainer .menuText li {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .fancy {
    width: 100%;
    padding-top: 3px;
  }
  .fancy .parentBox {
    width: 100%;
    margin: 0;
  }
  .fancy .parentBox .box1 {
    width: 100%;
    margin: 0 auto;
  }
  .fancy .parentBox .box2 {
    width: 97px;
    top: 0px;
    right: 112px;
  }

  .box1 {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .rest {
    padding-bottom: 25px;
  }
  .rest p {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .clients .clientsText {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .topFooter .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topFooter .fBox1 {
    width: 100%;
  }
  .topFooter .fBox2 {
    width: 100%;
  }
  .topFooter .fBox3 {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .bottomFooter {
    padding: 0;
    text-align: center;
  }
}